<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
</head>
<body>
    <h1>Contacto</h1>
    <p>¡Bienvenido a nuestra página de contacto!</p>
    <p>Puede comunicarse con nosotros a través de los siguientes medios:</p>
    <ul>
        <li>Correo electrónico: contacto@dominio.com</li>
        <li>Teléfono: 123-456-789</li>
        <li>Redes sociales: <a href="https://twitter.com/tu_cuenta_de_twitter">Twitter</a>, <a href="https://www.facebook.com/tu_pagina_de_facebook">Facebook</a>, etc.</li>
    </ul>
</body>
</html>
