{% extends 'blog/padre.html' %}

{% block content %}
    <h2>Lista de Post</h2>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' post.pk %}">
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100px; max-height: 100px; margin-top: 10px;">
                    {{ post.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    
    {% if user.is_authenticated %}
        <div style="margin-top: 20px;">
            <a href="{% url 'post_new' %}" class="btn btn-primary">Crear Post</a>
        </div>
    {% endif %}
{% endblock %}
