{% extends 'blog/padre.html' %}

{% block content %}
    <h1>Perfil de {{ user_data.username }}</h1>
    <p>Nombre: {{ user_data.first_name }}</p>
    <p>Apellido: {{ user_data.last_name }}</p>
    <p>Email: {{ user_data.email }}</p>
    {% if avatar %}
        <img src="{{ avatar.image.url }}" alt="Avatar" height="100px" style="border-radius: 50%;">
    {% endif %}
    <form action="{% url 'profile_edit' %}" method="get">
        <button type="submit" class="btn">Editar perfil</button>
    </form>
{% endblock %}


